
<div class="container__card-main">
    <div class="container__card-main-left">
        <img src="../../../assets/gado-lote.jpg">
    </div>
    <div class="container__card-main-rigth">
        <div class="container__card-main-rigth-p-top">
            <p>Compre ou Venda seu </p>
            <p>pgado rápido e seguro!</p>
            <div class="container__card-main-rigth-p-down">
                <p class="">Contatos:</p>
                <div class="card-whatsapp">
                    <img src="../../../assets/whatsaap.png"><p>(99)999999999</p>   
                </div>
            </div>
        </div>
        <img src="../../../assets/papel-madeira.jpeg">
    </div>
</div>
